.pd-maindiv{
    padding: 5rem 0;
}

.pd-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.pd-header h1{
    font-size: var(--heading);
    line-height: 1.5;
    /* text-transform: uppercase; */
}

.pd-header small{
    font-size: var(--small);
    text-transform: uppercase;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}

.pd-aligntext{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 4rem 0 0;
    order: 1;
}

.pd-aligntext2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 4rem;
    order: 2;
}

.pd-textdiv{
    width: 60%;
}

.pd-textdiv small{
    font-size: var(--small);
    color: var(--yellow);
    text-transform: uppercase;
}

.pd-textdiv h2{
    font-size: var(--medium);
    text-transform: capitalize;
    /* text-align: justify; */
}

.pd-textdiv p{
    font-size: var(--para);
    text-align: justify;
}

.pd-textdiv button{
    width: max-content;
    background-color: grey;
    padding: 1rem 2rem;
    outline: none;
    border: none;
}

.pd-imgdiv{
    width: 50%;
    order: 2;
}

.pd-imgdiv2{
    width: 50%;
    order: 1;
}

.pd-imgdiv img{
    width: 100%;
}

.pd-imgdiv2 img{
    width: 100%;
}

@media (max-width:1226px){
    .pd-textdiv{
        width: 80%;
    }
}

@media (max-width:1064px){
    .pd-textdiv{
        width: 90%;
    }
}

@media (max-width:900px){
    .products{
        flex-direction: column;
        padding: 0 3rem;
    }
    .pd-textdiv{
        width: 100%;
    }
    .pd-aligntext{
        width: 100%;
        padding: 0;
    }
    .pd-aligntext2{
        width: 100%;
        order: 1;
        padding: 0;
    }
    .pd-imgdiv{
        width: 100%;
    }
}

@media (max-width:500px) {
    .products{
        padding: 0 1.5rem;
    }
}