.formContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: var(--dark-grey);
    padding: 0 1rem 0rem 1rem;
    position: relative;
}



.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 99999;
}


.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.newForm{
    max-width: 1080px;
    height: 100%;
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: #fff;
    border-radius:  8px ;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.16);
}

.newForm .newRight{
    width: 35%;
    background-image: url("https://droneairgear.com/assets/formDrone-14358826.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 8px 8px 0;

}


.newForm .newLeft{
    width: 65%;
    display: flex;
    

    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 3rem 0 ;
}
.newForm .newLeft .newWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;

    padding: 0 ;
    height: 70vh;
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
    overflow-y: hidden;
}
.newForm .newLeft .newWrapper>h1{
    
    font-size: var(--medium);
    color: #2e2e2e;
    text-align: left;
    width: 100%;

    margin-bottom: 20px;
}
.newForm .newLeft .f-onerow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newForm .newLeft .f-onerow >input {
    flex-basis: auto;
    height: 40px;
    margin-bottom: 1.2rem;
    font-size: var(--small);
    padding: 5px 15px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    /* border: none; */
    color:#cccccc ;

    outline: none;
}
.newForm .newLeft .f-onerow >input:focus {

    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #5a5a5a;
    /* border: none; */
    color: #5a5a5a;

    outline: none;
}
.f-testarea{
    width: 100%;
    margin: 1.2rem auto;

}

.f-testarea textarea{
    width: 100%;
    padding: 10px 0 0 5px;
    margin: 0;
    resize: none;
    margin-bottom: 1rem;
    font-size: var(--small);
    font-weight: 500;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    color:#cccccc ;
    /* border: none; */
    outline: none;
}
.f-testarea textarea:focus{

    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #5a5a5a;
    color: #5a5a5a;
    /* border: none; */
    outline: none;
}

.f-testarea textarea::placeholder{
    font-size: var(--small);
    font-weight: 500;
}



.submitForm{
    width: 100%;
    padding: 7px 18px;
    text-align: center;
    color: #fff;
    background: var(--light-grey);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: var(--para);
}
.submitForm:hover{
    transition: .5s ease all;
    background: var(--yellow);
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    font-weight: 500;
    background: #bebebe;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;    
    transition: all .5s ease;
    content: 'Photo';
  }
  
 



@media (max-width:800px) {

    .newForm{

        flex-direction: column-reverse;

    }
    
    
    
.newForm .newLeft{
    width: 100%;

}
.newForm .newRight{
    width: 100%;
    display: none;
    height: 40vh;


}

.newForm .newLeft .newWrapper{
    width: 90%;


    height: 100%;

}

.newForm .newLeft .f-onerow{
    width: 100%;
    display: flex;
    flex-direction:column;

    justify-content: space-between;
}
}

.f-box{
    max-width: 1080px;
    width: 100%;
    margin: 100px  auto;
    -webkit-box-shadow: 0 0 10px 5px var(--bg-grey);
    -moz-box-shadow: 0 0 10px 5px var(--bg-grey);
    box-shadow: 0 0 10px 5px var(--bg-grey);
    border: 0 solid var(--blaack);
    padding: 2rem 5rem 2rem 5rem;
}

.f-box label{
    font-size: var(--small);
    font-weight: 500;
}

.f-box h1{
    font-size: var(--medium);
    text-align: center;
}

.f-onerow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-onerow input{
    width: 46.5%;
    height: 40px;
    margin-bottom: 1.2rem;
    font-size: var(--small);
    padding: .2rem .5rem .2rem .5rem;
    font-weight: 500;
}

.f-onerow .input2{
    width: 100%;
}

input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
     }

.f-radio{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.f-radio input[type='radio']:after {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #d1d3d1; */
    content: '';
    display: inline-block;
    visibility: visible;
    /* border: 2px solid white; */
}

.f-radio input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--red);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.f-radio label{
    font-size: var(--small);
    font-weight: 500;
}

.f-rr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.f-tworow{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.f-tworow select{
    width: 100%;
    height: 45px;
    margin-bottom: 1.2rem;
    font-size: var(--small);
    padding: .2rem .5rem .2rem .5rem;
    font-weight: 500;
}

option{
    height: 45px;
    background: var(--bg-grey);
}

option:hover{
    background-color: var(--red);
}

.f-margintop{
    margin-top: 1rem;
}

.f-margintop1{
    margin-top: 3rem;
}

.f-testarea{
    width: 100%;
}

.f-testarea textarea{
    width: 99.4%;
    padding: 10px 0 0 5px;
    margin: 0;
    resize: none;
    margin-bottom: 1rem;
    font-size: var(--small);
    font-weight: 500;
}

.f-testarea textarea::placeholder{
    font-size: var(--small);
    font-weight: 500;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    font-weight: 500;
    background: var(--red);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;    
    transition: all .5s ease;
  }
  
  /* input[type=file]::file-selector-button:hover {
    background: var(--text-grey);
  } */

  @media(max-width:800px){
    .f-onerow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .f-onerow input{
        width: 100%;
    }
  }

  @media(max-width:500px){
    .f-radio{
        justify-content: center;
    align-items: center;
    }
  }

  .f-select{
    width: 99.5%;
    font-weight: 500;
  }