.about-div{
    width: 100%;
    background-color: var(--black);
    padding: 7rem 2rem;
}

.about-div h1{
    text-align: center;
    font-size: var(--heading);
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--yellow);
}

.about-div p{
    text-align: center;
    font-size: var(--para);
    color: var(--white);
}

.textdiv{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 2rem auto;
    gap: 4rem;
}

.textdiv p{
    text-align: justify;
    font-size: var(--para);
    color: var(--white);
}

@media (max-width:1070px){
    .textdiv{
        width: 100%;
        gap: 3rem;
    }
}

@media (max-width:800px){
    .textdiv{
        flex-direction: column;
    }
}