.Drone_head {
    background: url('../../assets/11.png') no-repeat;
    background-position: right;
    background-size: 1350px 1000px;
    background-color: var(--black);
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 5rem;
    height: 100vh;
    perspective: 1000px; /* Add perspective for 3D effect */
}

.Drone_head .content {
    padding: 0 1rem;
}

.Drone_head .content h1 {
    font-size: var(--heading);
    color: #fff;
    text-transform: uppercase;
    position: relative; 
}

.Drone_head .content h1 .rotate {
    position: absolute;
    color: var(--yellow);
    top: 0;
    margin-left: 20px;
    left: 110;
    transition: transform 0.5s;
}

.aligncenter{
    text-align: left;
}

.alignleft{
    text-align: left;
}

.yellow{
    color: var(--yellow);
}

@media (max-width:500px) {
    .Drone_head{
        padding: 1.2rem 1.2rem 8rem 1.2rem;
    }
    .Drone_head .content h1 .rotate{
        top: 75px;
        left: 90;
    }
    .aligncenter{
        text-align: left;
    }
}