.Drone_head {
    background: url('../../assets/1.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    height: 100vh;
    perspective: 1000px; /* Add perspective for 3D effect */
}

.Drone_head .content {
    padding: 0 1rem;
}

.Drone_head .content h1 {
    font-size: var(--heading);
    color: #fff;
    text-transform: uppercase;
    position: relative; /* Required for 3D transformations */
}

.Drone_head .content h1 .rotate {
    position: absolute;
    color: var(--yellow);
    top: 0;
    margin-left: 20px;
    left: 110;
    transition: transform 0.5s;
}

.aligncenter{
    text-align: center;
}

.alignleft{
    text-align: left;
}

.yellow{
    color: var(--yellow);
}

@media (max-width:500px) {
    .Drone_head .content h1 .rotate{
        top: 38px;
    }
    .aligncenter{
        text-align: left;
    }
}