.main-navdiv{
  height: 80px;
  width: 100%;
  z-index: 1010;
  /* background-color: var(--light-grey); */
  /* backdrop-filter: blur(10px); */
  position: absolute;
  top: 0;
}

.logo{
  position: relative;
  top:10px; 
  left:50px;
  cursor: pointer;
  z-index: 1010;
  width: 150px;
}

#nav-toggler{
  -webkit-appearance: none;
  overflow-y: hidden;
  position: absolute;
  top:30px; 
  right: 70px;
  cursor: pointer;
  z-index: 1010;
  font-size: 1.8rem;
  color: var(--yellow);
  transition: transform 0.5s ease;
}

#nav-toggler:checked{
  transform: rotate(90deg);
}

#nav-toggler:checked::before{
  content: '\f00d';
  color:var(--yellow);
  transition: .2s linear .2s;
}

#nav-toggler:checked ~ .navbar{
  left:0;
}

.navbar{
  text-transform: uppercase;
  position: fixed;
  top:0; 
  left:-110%;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding:5rem 10%;
  transition: left 0.3s ease;
}

.navbar a{
  font-size: var(--heading);
  color:transparent;
  -webkit-text-stroke: .5px rgba(255,255,255,.5);
  font-weight: bolder;
  position: relative;
  letter-spacing: 3px;
  text-decoration: none;
}

.navbar a::before{
  content: attr(data-text);
  position: absolute;
  top:0; left:0;
  color:var(--yellow);
  transition: .3s linear;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navbar a:hover::before{
  clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
}

.background-image{
  position: absolute;
  top:0; left:0;
  height: 100%;
  width: 100%;
  background: url(../../assets/5.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar a:hover:nth-child(2) ~ .background-image{
  background: url(../../assets/1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(3) ~ .background-image{
  background: url(../../assets/3.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(4) ~ .background-image{
  background: url(../../assets/4.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(5) ~ .background-image{
  background: url(../../assets/3.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(6) ~ .background-image{
  background: url(../../assets/2.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(7) ~ .background-image{
  background: url(../../assets/4.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.social{
  width: 100px;
  padding: 0rem 0 0 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  right: 100px;
  gap: 2rem;
  overflow-y: hidden;
}

.social a{
  color: var(--white);
  font-size: var(--para);
}

.social a:hover{
  color: var(--yellow);
  transition: all ease .3s;
}

@media (max-width: 768px) {
  .social {
    flex-direction: row;
    width: 100%;
    top: 80%;
    right: 0;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 4rem 0;
  }
  .logo {
    left: 30px;
  }
  .navbar {
    height: 100vh;
  }
  .background-image {
    height: 100vh;
  }
  *{
      overflow-x: hidden;
      -webkit-scrollbar: none; 
  }
}

@media (max-width:480px){
  #nav-toggler{
    right: 40px;
  }
  .background-image{
    background-color: var(--dark-grey);
  }
}

@media (max-width:1000px) {
  #nav-toggler{
    right: 50px;
  }
}

