.ft-maindiv{
    width: 100%;
    height: 100%;
    background-color: var(--black);
    padding: 6rem 0 5rem 0;
}

.ft-maindiv h2{
    font-size: var(--medium);
    margin-bottom: 4rem;
    color: var(--white);
    text-transform: capitalize;
}

.ft-maindiv p{
    text-align: left;
    margin-top: 5rem;
    color: var(--light-grey);
    font-size: var(--small);
}

.ft-paddiv{
width: 70%;
margin: 0 auto;
}

.ft-maindiv small{
    font-size: var(--small);
    color: var(--light-grey);
}

.ft-links{
    display: flex;
    justify-content: space-between;
}

.ft-mails{
    width: 300px;
}

.ft-mails small{
    font-size: var(--small);
    color: var(--light-grey);
}

.ft-mails p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: var(--para);
    color: var(--white);
}

.ft-maindiv a{
    color: var(--white);
    display: flex;
    align-items:center;
    gap: 15px;
    text-decoration: none;
}

.ft-maindiv a:hover{
    color: var(--yellow);
    transition: all .5s ease;
}

.ft-add{
    width: 300px;
}

.ft-add small{
    font-size: var(--small);
    color: var(--light-grey);
}

.ft-add p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: var(--para);
    color: var(--white);
}

.ft-lets{
    width: 300px;
    overflow-y: hidden;
}

.ft-lets small{
    font-size: var(--small);
    color: var(--light-grey);
}

.ft-lets p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: var(--para);
    color: var(--white);
}

.ft-quick{
    width: 700px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.ft-quick li{
    list-style: none;
    color: var(--white);
    font-size: var(--para);
}

@media (max-width:1000px){
    .ft-paddiv{
        width: 90%;
    }
}

@media (max-width:800px){
    .ft-links{
        flex-direction: column;
    }
    .ft-quick{
        flex-direction: column;
        gap: 1rem;
    }
    .ft-lets{
        width: 100%;
    }
}