/* Font family imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Root */
:root{
  /* Colors */
  --dark-grey:#474747ee;
  --light-grey:#bababa;
  --black:#252525;
  --white:#FFFFFF;
  --yellow:#F9ED32;

  /* Font declaration */
  --lato: "Lato", sans-serif;
  --poppins: "Poppins", sans-serif;
  --calibri:"Calibri", sans-serif;

  /* Font Sizes */
--heading: clamp(2rem, 6vw, 3.2rem);
--medium: clamp(1.5rem, 4vw, 2.2rem);
--para: clamp(1rem, 3vw, 1.25rem);
--small: clamp(0.8rem, 2vw, 1.15rem);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  font-family: var(--poppinss);
  transition: all .2s linear;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.btn {
  margin-top: 20px;
  /* margin-right:  1rem; */
  width: max-content;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--yellow);
  font-size: var(--small);
    line-height: 1.4;
    padding:.7rem 1.2rem ;
    border: none;
    /* background: #bdc3c7; */
    color: var(--black);
    /* padding: 11px 12px 8px; */
    /* line-height: 22px; */
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn22 {
  position: fixed;
  top: 85%;
  left: 85%;
}

.btn22 a{
  text-decoration: none;
  color: var(--black);
}

.btn a{
  text-decoration: none;
  color: var(--black);
}

.vehicleinfo{
  height: 100%;
  margin: 4rem 0;
}

@media (max-width:732px) {
  .btn22{
    left: 60%;
  }
}


