body{
    height: 100vh;
    /* background-color: black; */
    /* cursor: none; */
  }
  
  .cursor-dot{
    width: 5px;
    height: 5px;
    background: white;
  }
  
  .cursor-outline{
    width: 30px;
    height: 30px;
    border: 2px solid hsla(0, 0%, 100%, .5);
  }
  
  .cursor-dot,
  .cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }